:root {
    --primary: #000000;
    --bg: #010101;
    --txt: #fff;
    --span: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
    color: var(--txt);
    cursor: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid var(--span);
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--txt);
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--span);
}

.navbar .navbar-nav a {
    color: var(--txt);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--span);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.8);
}

#hamburger-menu {
    color: var(--txt);
    display: none;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
    mix-blend-mode: difference;
}

.hero .content span {
    color: var(--span);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--txt);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px var(--span);
}

.about,
.skill,
.contact {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.skill h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.skill h2 span,
.contact h2 span {
    color: var(--span);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
}

.about .row .content .skills {
    display: flex;
    gap: 7rem;
}

.about .row .content ul li {
    margin: 0 1.2rem 0.5rem;
}

.skill .row .hobby p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
}

.contact {
    padding-bottom: 1rem;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #080808;
    border-radius: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    transition: 0.5s;
}

.contact .row form:hover {
    box-shadow: 1px 1px 3px var(--span);
    border-radius: 1rem;
}

.contact .row .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary);
    border: 1px solid var(--txt);
    border-radius: 1rem;
    padding-left: 2rem;
    transition: 0.2s;
}

.contact .row .input-group:hover {
    border: 1px solid var(--span);
    box-shadow: 1px 1px 3px var(--span);
}

.contact .row .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: var(--txt);
}

.contact .row form .btn-submit {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--bg);
    background-color: var(--span);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    transition: 0.5s;
}

.contact .row form .btn-submit:hover {
    box-shadow: 0 0 5px var(--span),
        0 0 10px var(--span),
        0 0 15px var(--span),
        0 0 20px var(--span);
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 1rem;
    border-top: 1px solid var(--span);
    border-bottom: 1px solid var(--span);
}

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: .1s;
}

h1:hover ~ .cursor-outline {
    transform: scale(6);
    background-color: var(--txt);
    mix-blend-mode: difference;
}


/* Responsif */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 100%;
        height: 34vh;
        transition: 0.5s;
    }

    .navbar .navbar-nav.active {
        right: 0em;
        background-color: var(--bg);
    }

    .navbar .navbar-nav a {
        text-align: center;
        color: var(--txt);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.4rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 1 0.5rem;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content p {
        text-align: justify;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
        border-radius: 2%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}